<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<servlet>  
	 <servlet-name>jersey-serlvet</servlet-name>  
	 <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	 	<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.cl.rest.jersey.resource;com.wordnik.swagger.jersey.listing</param-value>
		</init-param>		
	 <load-on-startup>1</load-on-startup>  
	</servlet>  

	<servlet>
		<servlet-name>JerseyJaxrsConfig</servlet-name>
		<servlet-class>com.wordnik.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
		<init-param>
			<param-name>api.version</param-name>
			<param-value>0.1</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.basepath</param-name>
			<param-value>/jersey/rest</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	  
	<servlet-mapping>  
	 <servlet-name>jersey-serlvet</servlet-name>  
	 <url-pattern>/rest/*</url-pattern>  
	</servlet-mapping>  
	
	<listener>
	  <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>
  
	<resource-env-ref>
	  <resource-env-ref-name>BeanManager</resource-env-ref-name>
	  <resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type>
	</resource-env-ref>

</web-app>
